---
layout : default.html
title : Appuntamento | Home
---

<section class="main-slider">
    <div id="logo">
        <a href="#">
            <img src="{{assets}}images/logo.png" alt="">
        </a>
    </div>
    <div class="overlay"></div>
    <div class="slides">
        <img src="{{asssets}}images/slide1.jpg" alt="">
    </div>
</section>

<section>
    <div class="title green">
        <h1>
            NEWS
        </h1>
    </div>
</section>

<section class="news-block">
    <section class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{assets}}images/news-img1.jpg" alt="">
                    </div>
                    <div class="col-md-8">
                        <h3>
                            NOUVELLE PIZZA
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{assets}}images/news-img1.jpg" alt="">
                    </div>
                    <div class="col-md-8">
                        <h3>
                            NOUVELLE PIZZA
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{assets}}images/news-img1.jpg" alt="">
                    </div>
                    <div class="col-md-8">
                        <h3>
                            NOUVELLE PIZZA
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="load-more">
            <a href="#">
                <span class="fa fa-plus"></span>
            </a>
        </div>
    </section>
</section>