---
layout : default.html
title : Appuntamento | Home
---

<section class="main-slider">
    <div id="logo">
        <a href="#">
            <img src="{{assets}}images/logo.png" alt="">
        </a>
    </div>
    <div class="overlay"></div>

    <div class="slides">
        <img src="{{asssets}}images/slide1.jpg" alt="">
    </div>
</section>

<section class="block-info">
    <section class="container">
        <div class="row">
            <div class="col-md-7">
                <img src="{{assets}}images/img1.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h3>
                    NOUVEAUTES
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet dignissimos dolore earum est
                    ipsum labore necessitatibus neque, officiis quibusdam soluta suscipit tempore vel. Aliquam beatae
                    dolorem error numquam officiis.
                </p>

                <a href="#" class="readmore">TOUTES LES NOUVEAUTES</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h3>
                    RESERVATION
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae dolorem, eos iure minus
                    tempora voluptate. Aliquid architecto atque, eaque error facilis itaque nisi odio perferendis quam
                    tenetur totam ut.
                </p>

                <a href="#" class="readmore">RESERVATION UNE TABLE</a>
            </div>
            <div class="col-md-7">
                <img src="{{assets}}images/img2.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h3>
                    MENU
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis culpa deleniti dicta
                    dolorem eaque enim esse explicabo facere inventore ipsa itaque iure libero placeat praesentium
                    recusandae reprehenderit temporibus, velit!
                </p>

                <a href="#" class="readmore" DECOUVREZ LE MENU</a>
            </div>
            <div class="col-md-7">
                <img src="{{assets}}images/img3.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h3>
                    LIVRAISON
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis culpa deleniti dicta
                    dolorem eaque enim esse explicabo facere inventore ipsa itaque iure libero placeat praesentium
                    recusandae reprehenderit temporibus, velit!
                </p>
                <a href="#" class="readmore" FAITES VOUS LIVRER</a>
            </div>
            <div class="col-md-7">
                <img src="{{assets}}images/img3.jpg" alt="">
            </div>
        </div>
    </section>
</section>
<section class="block-info-2">
    <section class="container">
        <div class="row">
            <img src="{{assets}}images/img4.jpg" alt="">
            <div class="clearfix"></div>
            <div class="col-md-6">
                <h3>NOTRE HISTOIRE</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur distinctio dolore earum
                    eum exercitationem facere illo, iusto labore nisi placeat quibusdam reiciendis rem soluta
                    voluptatibus! Aut earum facere facilis.
                </p>
                <a href="#" class="readmore blue">
                    DECOUVRIR NOTRE HISTOIRE
                </a>
            </div>
            <div class="col-md-6">
                <h3>OUVERTURE</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus illum impedit laudantium
                    praesentium quia ratione voluptatum? Ipsa, magni minima molestias nemo nostrum provident quos.
                    Cumque excepturi ipsam iure minima provident.
                </p>
                <a href="#" class="readmore">
                    RESERVEZ UNE TABLE
                </a>
            </div>
        </div>
    </section>
</section>

<section class="contact-info">
    <section class="container">
        <div class="row">
            <div id="map-canvas">
            </div>
            <h3>
                L'APPUNTAMENTO
            </h3>
            <p>
                1702, BRUSSELSTRAAT 210, 1702 DILBEEK<br>
                OUVERT DU LUNDI AU SAMEDI DE 10H A 23H
            </p>
        </div>
    </section>
</section>


