<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>{{ page.title }}</title>
    <meta property="og:image" content="{{assets}}images/logo.jpg" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <!-- <meta name="viewport" content="minimal-ui"/> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="apple-touch-icon" sizes="57x57" href="{{assets}}images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{assets}}images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{assets}}images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{assets}}images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{assets}}images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{assets}}images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{assets}}images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{assets}}images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{assets}}images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{assets}}images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{assets}}images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{assets}}images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{assets}}images/favicons/favicon-16x16.png">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{{assets}}lib/html5boilerplate/css/normalize.css" />
    <!-- cdn-->
    <link rel="stylesheet" type="text/css" href="{{assets}}lib/bootstrap-3.3.5/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>-->
    <link rel="stylesheet" href="{{assets}}lib/ionic/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="{{assets}}lib/animatecss/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="{{assets}}lib/slider/owl.carousel.css" />
    <!-- custom-css -->
    z
    <!-- modanizer js-->
    <script src="{{assets}}lib/modernizr/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div id="fb-root"></div>
    <div id="page">
        {{> header}}
        <article>
            {{> body }}
        </article>
        {{> footer}}
    </div>
    <script type="text/javascript" src="{{assets}}lib/jquery/jquery-2.1.4.min.js"></script>
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.exp&#038;libraries=places'></script>
    <script type="text/javascript" src="{{assets}}lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{assets}}lib/plugins/plugin.js"></script>
    <script type="text/javascript" src="{{assets}}js/app/app.js"></script>

</body>

</html>