---
layout : default.html
title : Appuntamento | Home
---

<section class="main-slider">
    <div id="logo">
        <a href="#">
            <img src="{{assets}}images/logo.png" alt="">
        </a>
    </div>
    <div class="overlay"></div>

    <div class="slides">
        <img src="{{asssets}}images/slide1.jpg" alt="">
    </div>


</section>

<section>
    <div class="title red">
        <h1>
            LIVRAISON
        </h1>
    </div>
</section>

<section>
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#tab1"> ENTREE</a>
                    </li>
                    <li>
                        <a href="#tab2"> PATES</a>
                    </li>
                    <li>
                        <a href="#"> PIZZA</a>
                    </li>
                    <li>
                        <a href="#"> PLATS</a>
                    </li>
                    <li>
                        <a href="#"> DESSERT</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    LES DESSERTS
                </h2>
                <div class="tab-container">
                    <div class="tab-panel" id="tab1">
                        <h4>
                            LES DESSERT FROIDS
                        </h4>
                        <ul>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>


                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>


                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                        </ul>
                        <h4>
                            LES DESSERT CHAUDS
                        </h4>
                        <ul>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>


                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>


                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-panel" id="tab2">
                        <h4>
                            LES DESSERT FROIDS
                        </h4>
                        <ul>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>


                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>


                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                        </ul>
                        <h4>
                            LES DESSERT CHAUDS
                        </h4>
                        <ul>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>


                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>


                            </li>
                            <li>
                                <p>
                                    DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                                    ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                                </p>
                                <p class="price">
                                    15 &euro;
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <img src="{{assets}}imags/dessert.jpg" alt="">

            </div>
        </div>
    </section>
</section>

