---
layout : default.html
title : Appuntamento | Home
---

<section class="main-slider">
    <div id="logo">
        <a href="#">
            <img src="{{assets}}images/logo.png" alt="">
        </a>
    </div>
    <div class="overlay"></div>
    <div class="slides">
        <img src="{{asssets}}images/slide1.jpg" alt="">
    </div>
</section>
<section>
    <div class="title green">
        <h1>
            RESERVATION
        </h1>
    </div>
</section>

<section>
    <section class="container">
        <div class="row">
            <div class="col-md-6 col-md-3">
                <form action="">

                    <div class="formElement">
                        <div class="col-md-5"><label for="">NOM</label></div>
                        <div class="col-md-7"><input type="text" placeholder="NOM"></div>
                    </div>

                    <div class="formElement">
                        <div class="col-md-5"><label for="">NOM</label></div>
                        <div class="col-md-7"><input type="tel" placeholder="NOM"></div>
                    </div>

                    <div class="formElement">
                        <div class="col-md-5"><label for="">NOM</label></div>
                        <div class="col-md-7"><input type="date" placeholder="NOM"></div>
                    </div>

                    <div class="formElement">
                        <div class="col-md-5"><label for="">NOM</label></div>
                        <div class="col-md-7"><input type="time" placeholder="NOM"></div>
                    </div>
                    <div class="formElement">
                        <div class="col-md-5"><label for="">NOM</label></div>
                        <div class="col-md-7"><select name="" id=""></select></div>
                    </div>
                    <div class="formElement">
                        <button type="submit">
                            RESERVEZ UNE TABLE
                        </button>
                    </div>
                    <div class="divider"></div>
                    <p>
                        <small>
                            Si vous réservez seulement 5 heures avant votre venue veuillez téléphoner directement en
                            02/468.55.40 pour un meilleur service
                        </small>
                    </p>

                </form>
            </div>
        </div>
    </section>
</section>


