---
layout : default.html
title : Appuntamento | Home
---

<section class="main-slider">
    <div id="logo">
        <a href="#">
            <img src="{{assets}}images/logo.png" alt="">
        </a>
    </div>
    <div class="overlay"></div>

    <div class="slides">
        <img src="{{asssets}}images/slide1.jpg" alt="">
    </div>


</section>

<section>
    <div class="title blue">
        <h1>
            NOTRE HISTORE
        </h1>
    </div>
</section>

<section>
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img src="{{assets}}images/img4.jpg" alt="">
                </a>

                <a href="#">
                    <img src="{{assets}}images/img5.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <h2>
                    LOREM IPSUM
                </h2>
                <p>
                    dolor sit amet, consectetur adipiscing elit. In a felis sed ligula imperdiet malesuada. Vivamus
                    mollis nunc eget tellus laoreet varius. Nullam vehicula sapien risus, non volutpat arcu varius non.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vel lobortis diam, eget rutrum
                    erat. Aenean quis mi tristique, consectetur nunc ac, maximus nulla. Phasellus congue, urna at
                    hendrerit sollicitudin, ex augue hendrerit risus,

                    scelerisque porta quam enim at nibh. Aenean eget enim at diam gravida egestas. Nam non massa
                    eleifend, elementum odio sit amet, posuere enim. Duis ultricies erat quis justo bibendum vestibulum.
                    Ut vitae ultrices libero. Suspendisse bibendum diam ut ligula luctus sollicitudin. Curabitur tempus
                    ornare mi, eu suscipit metus tempor eget. Etiam mattis, lacus vel porta fringilla, mi lorem mattis
                    massa, eu sagittis tellus purus vitae nisl.
                </p>
            </div>
        </div>
    </section>
</section>

