---
layout : default.html
title : Appuntamento | Home
---

<section class="main-slider">
    <div id="logo">
        <a href="#">
            <img src="{{assets}}images/logo.png" alt="">
        </a>
    </div>
    <div class="overlay"></div>

    <div class="slides">
        <img src="{{asssets}}images/slide1.jpg" alt="">
    </div>


</section>

<section>
    <div class="title red">
        <h1>
            LIVRAISON
        </h1>
    </div>
</section>

<section>
    <section class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    NOS PISSAS
                </h2>
                <ul>
                    <li>
                        <p>
                            DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                            ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                        </p>
                        <p class="price">
                            15 &euro;
                        </p>
                    </li>
                    <li>
                        <p>
                            DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                            ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                        </p>
                        <p class="price">
                            15 &euro;
                        </p>
                    </li>
                    <li>
                        <p>
                            DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                            ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                        </p>
                        <p class="price">
                            15 &euro;
                        </p>


                    </li>
                    <li>
                        <p>
                            DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                            ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                        </p>
                        <p class="price">
                            15 &euro;
                        </p>
                    </li>
                    <li>
                        <p>
                            DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                            ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                        </p>
                        <p class="price">
                            15 &euro;
                        </p>


                    </li>
                    <li>
                        <p>
                            DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                            ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                        </p>
                        <p class="price">
                            15 &euro;
                        </p>
                    </li>
                    <li>
                        <p>
                            DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                            ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                        </p>
                        <p class="price">
                            15 &euro;
                        </p>
                    </li>
                    <li>
                        <p>
                            DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                            ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                        </p>
                        <p class="price">
                            15 &euro;
                        </p>
                    </li>
                    <li>
                        <p>
                            DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                            ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                        </p>
                        <p class="price">
                            15 &euro;
                        </p>
                    </li>
                    <li>
                        <p>
                            DOLOR SIT AMET, CONSECTETUR ADIPISCING<br>
                            ELIT. IN A FELIS SED LIGULA IMPERDIETT.
                        </p>
                        <p class="price">
                            15 &euro;
                        </p>
                    </li>
                </ul>
                <div class="clearfix"></div>

                <div class="phone">
                    <a href="#"><span></span> 02 / 468.55.40</a>
                </div>

            </div>
        </div>
    </section>
</section>

