<footer>
    <section class="container">
        <section class="row">
            <div class="col-md-2">
                L'APPUNTAMENTO
            </div>
            <div class="col-md-4">
                1702, BRUSSELSTRAAT DILBEEK
            </div>
            <div class="col-md-4">
                OUVERT DU LUNDI AU SAMEDI DE 10H A 23H
            </div>
            <div class="col-md-2">
                <a href="#">
                    <span class="fa fa-facebook"></span>
                </a>
            </div>
        </section>
    </section>
</footer>