<header>
    <nav>
        <ul>
            <li>
                <a href="#">
                    ACCUEIL
                </a>
            </li>

            NOUVEAUTES
            MENU
            NOTRE HISTOIRE
            CONTACT
            RESERVATION
            LIVRAISON
        </ul>

        <div class="language dropdown">
            <button>
                <img src="{{assets}}images/fr.png" alt="">
                <span>FRENCH</span>
                <span class="fa fa-angel-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">test</a>
                    <a href="#">test</a>
                    <a href="#">test</a>
                </li>
            </ul>
        </div>
    </nav>
</header>