---
layout : default.html
title : Appuntamento | Home
---

<section class="main-slider">
    <div id="logo">
        <a href="#">
            <img src="{{assets}}images/logo.png" alt="">
        </a>
    </div>
    <div class="overlay"></div>

    <div class="slides">
        <img src="{{asssets}}images/slide1.jpg" alt="">
    </div>


</section>

<section>
    <div class="title red">
        <h1>
            LIVRAISON
        </h1>
    </div>
</section>

<section>
    <section class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li>
                    <a href="#">ENTREE</a>
                </li>
                <li>
                    <a href="#">PATES</a>
                </li>
                <li>
                    <a href="#">PIZZA</a>
                </li>
            </ul>

        </div>
    </section>
</section>

